<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <section class="chat_bot">
        <div class="header">
            <img src="/bot-logo.png" alt="bot" class="logo">
            <h1>Chat-BOT</h1>
        </div>

<!---->
        <div class="message_area">


        </div>
<!---->

        <div>
            <textarea id="textarea" cols="30" row="1" placeholder="Write a message"></textarea>
        </div>
    </section>
    <script src="/socket.io/socket.io.js"></script> <!-- client library for socket io-->
    <script src="/client.js"></script>
    
</body>
</html>